__pycache__/
*.pyc
*.xml
.vscode
output
build
media
diff_rasterization_depth_pose/diff_rast.egg-info
diff_rasterization_depth_pose/dist

TUM/
BONN/

*.pth
*.pt
*.ckpt
*.onnx

*.ply

debug_pruning/
mask_check/
debug/

logs/
runs/
experiments/results/

venv/
env/

*.egg-info
tmp.md